*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap%27');
@font-face {
    font-family: sovereing;
    src: url(imagens/Sovereign.ttf);
}


/* INICIO DA HEADER */
.section-header{
    width: 100%;
    height: 46vw;
    background-image: url(imagens/star\ uó\ topo.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.img-star{
    position: absolute;
    width: 24%;
    top: 55%;
    left: 21%;
}

.img-wars{
    position: absolute;
    width: 24%;
    top: 55%;
    left: 69%;
}

.img-kylo{
    position: absolute;
    z-index: 10;
    width: 73%;
    left: 11%;
}

.img-grupo-4{
    position: absolute;
    width: 8%;
    top: 77%;
    left: 82%;
}
/* FIM DA HEADER */


/* INICIO MAIN*/
.section-main{
    width: 100%;
    height: 79vw;
    background-image: url(imagens/sta\ uo\ robot.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

/*INICIO GRUPO VERMELHO*/
.RedGroupBox{
    position: absolute;
    bottom: 66%;
    left: 17%;
    z-index: 11;
}

.RedGroupImage{
    width: 20vw;
}

.GroupTitle{
    position: absolute;
    z-index: 12;
    top: 4%;
    left: 21%;
}

.RedTitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
    text-transform: uppercase;
    color: white;
}

.ParagraphColumn{
    position: absolute;
    z-index: 12;
    top: 14%;
    left: 19%;
}

.groupParagraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8vw;
    text-transform: uppercase;
    color: white;
}

.redButtonSpace{
    position: absolute;
    z-index: 12;
    top: 23%;
    left: 22%;
    width: 10%;
    height: 3%;
}

.redButton{
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 4px;
    padding: 5% 15%;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: 1s all;
}
.redButton:hover{
    transform: scale(1.2);
}
.redButton:active{
    transform: scale(1.5);
}
/*FIM GRUPO VERMELHO*/

/*INICIO SOBRE O JOGO*/
.informationBox{
    position: absolute;
    top: 17%;
    left: 55%;
    justify-content: space-between;
    display: flex;
    width: 41vw;
    height: 13vw;
    align-items: flex-end;
    flex-direction: row;
}

.textBox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    margin: 1%;
    width: 55%;
}

.textBox h2{
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
}

.boxLine{
    width: 10vw;
    margin: 2% 0%;
    height: 0.2vw;
    background-color: #707070; 
}
.boxLine:hover{
    background-color: red;
}

.paragraph-battleFront{
    font-size: 1vw;
}

.boxbattleFront{
    display: flex;
    width: 18vw;
}

.img-battleFront{
    width: 100%;
    cursor: pointer;
}
.img-battleFront:hover{
    box-shadow: 10px 10px 70px 10px #2D2D2D;
}
.img-battleFront:active{
    box-shadow: 10px 10px 70px 10px red;
}
/*FIM SOBRE O JOGO*/

/*INICIO ESTRUTURA DE JOGO*/
.line{
    position: absolute;
    top: 41%;
    left: 17%;
    width: 79%;
    height: 0.2vw;
    background-color: #707070;
}

.structureBox{
    width: 100%;
    height: 500px;
    display: flex;
    position: absolute;
    top: 81vw;
    align-items: center;
    justify-content: center;
}

.Box-img-lord{
    position: absolute;
    width: 50%;
    top: 0;
    left: 16%;
    z-index: 1;
}

.img-lord{
    width: 100%;
}

.box-img-rey{
    position: absolute;
    width: 25%;
    top: 0;
    right: 1%;
    z-index: 1;
}

.img-rey{
    width: 100%;
}

.navigationBox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 51%;
    height: 96%;
    margin-top: 8%;
    z-index: 20;
}

.navigationTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 3vw;
    text-transform: uppercase;
}

.negrito{
    font-family: sovereing;
    font-weight: bold;
}

.listBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 45vw;
    height: 20vw;
    margin-top: 3vw;
}

.navigationList{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.listLink{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7vw;
    width: 71%;
    text-transform: uppercase;
    color: #000000;
    text-align: end;
}

.listLink:hover{
    color: #ffffff;
    background-color: orangered;
}
/*FIM ESTRUTURA DE JOGO*/

/*INICIO ATRIBUTOS*/
.darkBox{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 129vw;
    background-color: #2D2D2D;
}

.mainTitleBox{
    width: 72%;
    margin: 13% 0 2% 0%;
}

.mainTitle{
    font-family: sovereing;
    font-weight: 100;
    font-size: 2.8vw;;
    color: #ffffff;
    text-transform: uppercase;
}

.imageGroup{
    display: flex;
    flex-direction: row;
    width: 96%;
    z-index: 22;
}

.boxGames{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46%;
    margin-left: 6%;
    position: relative;
    overflow: hidden;
}
.boxGames:hover .floatingBox{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    bottom: 0;
    transition: 0.5s;
    opacity: 0.8;
}

.floatingBox{
    bottom: 100%;
    width: 100%;
    height: 100%;
    background-color: #D74430;
    position: absolute;
}

.floatingBox > h2{
    font-family: sovereing;
    width: 20%;
    margin-left: 5%;
    font-size: 2.5vw;
    color: #ffffff;
    text-transform: uppercase;
}

.floatingBox > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    width: 81%;
    margin: 0% 0% 0% 5%;
    height: 3vw;
    color: #ffffff;
    text-transform: uppercase;

}

.buttonFloating{
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    font-size: 1.5vw;
    border-radius: 1px;
    margin-left: 5%;
    padding: 2% 8%;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #ffffff;
}

.img-games{
    width: 100%;
}

.pictureSet{
    display: flex;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 26vw;
}

.boxAttributes{
    display: flex;
    width: 44%;
    height: 12.9vw;
    position: relative;
    overflow: hidden;
}

.boxAttributes:hover .floatingBox-attributes{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    bottom: 0;
    transition: 0.5s;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

.floatingBox-attributes > h2{
    font-family: sovereing;
    width: 20%;
    margin-bottom: 4%;
    margin-top: 12%;
    margin-left: 5%;
    font-size: 1.5vw;
    color: #ffffff;
    text-transform: uppercase;
}

.floatingBox-attributes > p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7vw;
    width: 90%;
    margin: 0% 0% 0% 6%;
    height: 3vw;
    color: #ffffff;
    text-transform: uppercase;
}

.floatingBox-attributes{
    bottom: 100%;
    width: 100%;
    background-color: #D74430;
    position: absolute;
}

.vertical-top{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 0.8%;
    height: 19%;
    background-color: #ffffff;
}

.horizontal-top{
    position: absolute;
    top: 1%;
    left: 1%;
    width: 14%;
    height: 1.2%;
    background-color: #ffffff;
}

.vertical-bottom{
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 0.8%;
    height: 18%;
    background-color: #ffffff;
}

.horizontal-bottom{
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 12%;
    height: 0.8%;
    background-color: #ffffff;
}


.buttonFloating-attributes{
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    margin-bottom: 5%;
    margin-left: 5%;
    font-size: 0.8vw;
    border-radius: 1px;
    padding: 2% 5%;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.img-attributes{
    width: 100%;
}
/*FIM ATRIBUTOS*/

/*INICIO HIERARQUIA*/
.box-img-hierarchy{
    width: 85%;
    margin: 3%;
    height: 49vw;
}

.img-hierarchy{
    width: 100%;
}
.img-hierarchy:hover{
    box-shadow: 10px 10px 70px 10px #ffffff;
}

.box-lastPhrase{
    display: flex;
    width: 49%;
    text-align: right;
    margin: 0 0 0 36%;
}

.box-lastPhrase > p{
    color: #ffffff;
    font-size: 1.3vw;
}
/*FIM HIERARQUIA*/

/*INICIO DESCRIÇÃO COMO JOGAR*/
.box-howToPlay{
    height: 48vw;
    width: 18vw;
    display: flex;
    margin-top: 7%;
    margin-left: 13%;
    align-items: center;
}

.box-howToPlay > h2{
    font-family: sovereing;
    font-weight: 100;
    color: #ffffff;
    font-size: 2.5vw;
}

.boxblackCape{
    position: absolute;
    top: 81%;
    right: 67%;
}

.img-blackCape{
    width: 105%;
}

.groupButtons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 9%;
    height: 16vw;
}

.groupButtons > div{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    width: 13%;
    height: 13vw;
    margin-bottom: 4%;
    margin-right: 7%;
}

.groupButtons > div:hover .buttonLine{
    background-color: #D74430;
}

.groupButtons > div:hover .selectionLine{
    background-color: #D74430;
}

.groupButtons > div:hover .ConquestLine{
    background-color: #D74430;
}

.numbering{
    font-size: 2.5vw;
    font-family: 'Open Sans', sans-serif;
}

.download, .toChoose, .toExplore{
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: none;
    text-transform: uppercase;
    font-size: 1.4vw;
    font-family: 'Open Sans', sans-serif;
    z-index: 5;
    padding: 0.9vw 2.8vw;
    color: #ffffff;
    background-color: #000000;
}

.download::before, .toChoose::before, .toExplore::before{
    transition: 0.5s;
    top: 0;
    left: 14vw;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #D74430;
    z-index: -1;
}

.download:hover::before, .toChoose:hover::before, .toExplore:hover::before{
    left: 0;
}

.box-paragraphDownload{
    height: 2vw;
    display: flex;
    justify-content: center;
}

.paragraphDownload{
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    width: 66%;
}

.buttonLine{
    position: relative;
    left: 29%;
    width: 39%;
    height: 0.2vw;
    background-color: #000000;
}

.selectionBox{
    height: 2vw;
    display: flex;
    justify-content: center;
}

.selectionParagraph{
    font-size: 1.1vw;
    width: 41%;
}

.selectionLine{
    position: relative;
    left: 33%;
    width: 39%;
    height: 0.2vw;
    background-color: #000000; 
}

.boxConquest{
    height: 2vw;
    display: flex;
    justify-content: center;
}

.paragraphConquest{
    font-size: 1.2vw;
    width: 42%;
}

.ConquestLine{
    position: relative;
    left: 33%;
    width: 36%;
    height: 0.2vw;
    background-color: #000000; 
}
/*FIM DESCRIÇÃO COMO JOGAR*/


/*INICIO SOBRE APLICATIVO*/
footer{
    width: 100%;
    height: 42vw;
}

.informationColumn{
    background-color: #FF5A56;
    width: 68%;
    margin-top: 5%;
    height: 42vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.applicationTitleBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8%;
}

.applicationTitleBox > h2{
    color: #ffffff;
    font-family: sovereing;
    font-size: 3vw;
    font-weight: 100;
    margin-left: 22%;
    margin-bottom: 3%;
}

.applicationTitleBox > p{
    height: 5vw;
    width: 36%;
    font-size: 0.9vw;
    margin-left: 22%;
    margin-top: 2%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.applicationButtons{
    margin-left: 22%;
}

.applicationButtons > img{
    cursor: pointer;
    width: 20%;
}

.applicationLine{
    position: relative;
    top: 84%;
    left: 0%;
    width: 41%;
    height: 0.3vw;
    background-color: #D74430;
}

.box-img-name{
    padding-top: 10%;
    margin-left: 22%;
}

.box-img-name > img{
    width: 25%;
}

.applicationParagraph{
    height: 6vw;
}

.applicationParagraph > p{
    height: 5vw;
    width: 50%;
    font-size: 1.2vw;
    margin-left: 22%;
    margin-top: 2%;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.box-img-darth{
    position: absolute;
    width: 39%;
    left: 58%;
    margin-bottom: 8%;
}

.img-darth{
    width: 93%;
}

.layout{
    font-size: 0.6vw;
    width: 45%;
    bottom: 2%;
    margin-left: 35%;
    position: absolute;
}
/*FIM SOBRE APLICATIVO*/

/*RESPONSIVO PARA MOBILE*/
@media screen and (max-width: 425px) {

    .section-main{
        height: 122vw;
    }

    .RedGroupBox{
        position: absolute;
        width: 53vw;
        bottom: 29%;
        left: 39%;
        z-index: 11;
    }

    .RedGroupImage{
        width: 100%;
    }

    .GroupTitle{
        top: 18%;
        left: 54%;
    }

    .RedTitle{
        font-size: 5.5vw;
    }

    .ParagraphColumn{
        top: 39%;
        left: 41%;
    }

    .groupParagraph{
        font-size: 2.4vw;
    }

    .redButtonSpace{
        top: 54%;
        left: 49%;
        width: 34%;
        height: 7%;
    }

    .redButton{
        font-size: 2.8vw;
        border-radius: 4px;
        width: 100%;
        height: 100%;
    }

    .informationBox{
        top: 74%;
        left: 39%;
        width: 52%;
        height: 51%;
    }

    .textBox{
        margin: 1%;
        width: 99%;
        height: 38%;
    }

    .textBox h2{
        font-size: 4vw;
    }

    .boxLine{
        top: 124%;
        left: 16%;
        width: 75%;
        height: 0.7vw;
        background-color: #000000;
    }

    .paragraph-battleFront{
        font-size: 2.6vw;
        width: 146%;
    }

    .boxbattleFront{
        position: absolute;
        top: 11%;
        left: 0;
    }

    .img-battleFront{
        width: 289%;
    }

    .structureBox{
        width: 100%;
        height: 54vw;
        top: 205vw;
    }

    .Box-img-lord{
        width: 50%;
        top: 0;
        left: 3%;
    }

    .navigationBox{
        margin-bottom: 4vw;
        margin-right: 8vw;
    }

    .navigationTitle{
        font-size: 4vw;
    }

    .listLink{
        font-size: 2.1vw;
        width: 88%;
    }
    
    .darkBox{
        margin-top: 79%;
        height: 368vw;
    }

    .line{
        top: 127%;
        height: 1vw;
        width: 74%;
        left: 16%;
    }

    .listBox{
        height: 25vw;
    }

    .mainTitleBox{
        margin-left: 6%;
        width: 15%;
    }

    .imageGroup{
        flex-direction: column;
    }

    .img-games{
        width: 100%;
    }

    .box-img-hierarchy{
        width: 100%;
    }

    .box-lastPhrase{
        margin: 9% 0 0 20%;
        height: 10vw;
    }

    .box-lastPhrase > p{
        font-size: 1.8vw;
    }

    .boxblackCape{
        width: 73%;
        top: 93%;
        right: 69%;
    }

    .box-howToPlay{
        width: 36%;
        margin-left: 37%;
        margin-top: auto;
    }

    .box-howToPlay > h2{
        width: 109%;
        font-size: 4.8vw;
    }

    .img-blackCape{
        width: 104vw;
    }

    .groupButtons{
        flex-direction: column;
        justify-content: space-evenly;
        height: 123vw;
    }

    .groupButtons > div{
        width: 39%;
        margin-left: 51%;
        margin-bottom: 21%;
    }

    .numbering{
        font-size: 7.5vw;
    }

    .download, .toChoose, .toExplore{
        font-size: 4vw;
        padding: 2.8vw 5.8vw;
    }

    .box-paragraphDownload{
        width: 144%;
        height: 5vw;
        margin-top: 5%;
        margin-left: -22%;
    }

    .paragraphDownload {
        font-size: 3.7vw;
    }

    .selectionBox{
        margin-left: -15%;
        width: 129%;
        margin-top: 6%;
    }

    .selectionParagraph{
        font-size: 4vw;
    }

    .download::before, .toChoose::before, .toExplore::before{
        left: 36vw;
    }

    .boxConquest{
        height: 5vw;
        width: 99%;
    }

    .paragraphConquest{
        font-size: 4vw;
    }

    .buttonLine {
        position: absolute;
        left: 64%;
        margin-top: 35%;
        width: 16%;
        height: 1.2vw;
        background-color: #000000;
    }

    .selectionLine {
        position: absolute; 
        left: 64%;
        margin-top: 41%;
        width: 16%;
        height: 1.2vw;
        background-color: #000000;
    }

    .ConquestLine{
        position: absolute;
        left: 64%;
        margin-top: 37%;
        width: 16%;
        height: 1.2vw;
        background-color: #000000;
    }

    .informationColumn{
        margin-top: 3%;
        width: 100%;
        height: 147vw;
        justify-content: flex-start;
    }

    .applicationTitleBox{
        margin-right: 23%;
    }

    .applicationTitleBox > h2 {
        font-size: 12vw;
    }

    .box-img-darth{
        margin-top: 103%;
        left: 6%;
    }

    .img-darth {
        width: 202%;
    }

    .applicationTitleBox > p{
        width: 87%;
        font-size: 3vw;
    }

    .applicationButtons{
        margin-left: 13%;
        margin-top: 12%;
    }

    .applicationButtons > img{
        width: 41%;
    }

    .applicationLine{
        top: 22%;
        height: 1.4vw;
        width: 83%;
    }

    .box-img-name{
        display: flex;
        justify-content: center;
        margin-left: 0%;
        padding-top: 8%;
    }

    .box-img-name > img {
        width: 36%;
    }

    .applicationParagraph {
        height: 24vw;
        margin-top: 3%;
        margin-left: -29%;
        width: 129%;
        display: flex;
        justify-content: center;
    }

    .applicationParagraph > p{
        font-size: 3vw;
    }

    .layout{
        top: 103%;
        width: 234%;
        margin-left: 3%;
        height: 10%;
        font-size: 3vw;
    }

    .boxGames{
        width: 88%;
        height: 100%;
    }

    .floatingBox > h2{
        font-size: 8.5vw;
    }

    .floatingBox > p{
        font-size: 2.9vw;
        margin-bottom: 10%;
    }

    .boxGames:hover .floatingBox {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        bottom: 0;
        transition: 0.5s;
        opacity: 0.8;
    }

    .buttonFloating {
        font-size: 4.5vw;
    }

    .pictureSet{
        flex-direction: column;
        height: 100%;
        width: 88%;
    }

    .boxAttributes{
        margin-left: 7%;
        height: auto;
        width: 100%;
    }

    .img-attributes{
        width: 100%;
    }

    .boxAttributes:hover .floatingBox-attributes{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        bottom: 0;
        transition: 0.5s;
        opacity: 0.8;
    }

    .floatingBox-attributes > h2{
        font-size: 8.5vw;
    }

    .floatingBox-attributes > p{
        font-size: 2.9vw;
        margin-bottom: 10%;
    }

    .buttonFloating-attributes{
        font-size: 4.5vw;
    }

}